- provide(:title, @user.email)
.container.show-container
  .row
    .col.bg-primary
      form
    .col.bg-secondary
      figure
  .row
    .col 
      = render 'layouts/log'
      = render 'layouts/micropost_form'
      = render 'layouts/figure'
     

